<div class='main'>
  <div class='container'>
    <div class='row'>
      <div class="col-md-4">
        <img src='http://storage1.static.itmages.ru/i/16/0822/h_1471886845_3311326_406c27eab4.jpg' style="height:330px; width:250px" class="photo">
        <h3>Maksim "MaxeR" Redka</h3>
      </div>
      <div class="col-md-8">
        <p style='font-size:16px; font-weight: 500'>My name is Maks, im from Ukraine, im 29years old, and im developer.</p>
      </div>
    </div>
  </div>
</div>