<div class='contacts'>
  <div class='container'>
    <ul class='contact-bar pull-right'>
      <li><a href='https://www.facebook.com/max.redka.3'><img src='http://storage7.static.itmages.ru/i/16/0824/h_1472037609_2104674_8b9c428d8a.png'></a><span>My facebook</span></li>
      <li><a href='mailto:kentavrbc@gmail.com'><img src='http://storage5.static.itmages.ru/i/16/0824/h_1472038264_6399517_ae098e9a1d.png'></a><span>Send me E-mail</span></li>
      <li><a href='skype:kentavrbc?chat'><img src='http://storage9.static.itmages.ru/i/16/0824/h_1472038495_4292418_3295cb04fb.png'></a><span>Chat with me on Skype</span></li>
      <li><a href="intent://send/0123456789#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end"><img src='http://storage2.static.itmages.ru/i/16/0824/h_1472039020_6982196_34d199a9ea.png'></a><span>Whatsapp</span></li>
      <li><img src='http://storage3.static.itmages.ru/i/16/0824/h_1472039175_5645991_5078a12e85.png'><span>Phone #: +380-96-292-75-41</span></li>
    </ul>
  </div>
</div>