<%= javascript_include_tag 'unslider' %>
<div class='main'>
  <div class='container'>
    <div class="slider">
      <ul>
        <li><img src='http://storage9.static.itmages.ru/i/16/0822/h_1471865065_7869040_43d29ae561.jpg'></li>
        <li><img src='http://storage6.static.itmages.ru/i/16/0822/h_1471865404_1386852_2af232e878.jpg'></li>
        <li><img src='http://storage1.static.itmages.ru/i/16/0822/h_1471865471_8568377_08a9a7f402.jpg'></li>
        <li><img src='http://storage2.static.itmages.ru/i/16/0822/h_1471865645_4786615_59b0bcbedc.jpg'></li>
        <li><img src='http://storage1.static.itmages.ru/i/16/0822/h_1471865707_5040164_823b2e7524.jpg'></li>
        <li><img src='http://storage6.static.itmages.ru/i/16/0822/h_1471865809_7218649_c35adfb013.jpg'></li>
      </ul>
    </div>
  </div>
</div>

<div class='supporting'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <div class='thumbnail'>
          
        </div>
      </div>
      <div class='col-md-4'>
        <div class='thumbnail'>
          
        </div>
      </div>
      <div class='col-md-4'>
        <div class='thumbnail'>
          
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-4'>
        <div class='thumbnail'>
          
        </div>
      </div>
      <div class='col-md-4'>
        <div class='thumbnail'>
          
        </div>
      </div>
      <div class='col-md-4'>
        <div class='thumbnail'>
          
        </div>
      </div>
    </div>
  </div>
</div>
<script>$(function() {$('.slider').unslider({autoplay:true})})</script>