<div class="main">
  <div class="container">
    <h2>Portfolio</h2>
    <div class='row'>
      <div class='col-md-5'>
        <p>Welcome to portfolio. My name is Maksim, im developer from Ukraine. I'm developing websites, style them, and make them work!</p>
        <%= link_to "View my Work", {controller: "pages", action: "portfolio"}, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>